.reservations-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 50px;
}


.reservations-table {
  width: 100%;
  border-collapse: collapse;
}

.reservations-table th,
.reservations-table td {
  padding: 0.5rem;
  text-align: center;
}

button.cancel-button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

button.cancel-button:hover {
  background-color: #cc0000;
}


@media only screen and (max-width: 768px) {
  .reservations-table th,
  .reservations-table td {
    font-size: 0.9rem;
    padding: 0.4rem;
  }
}

@media only screen and (max-width: 576px) {
  .reservations-table th,
  .reservations-table td {
    font-size: 0.8rem;
    padding: 0.3rem;
  }
}
