/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Variables */
  :root {
    --primary-color: #af9a7d;
    --main-white: #fff;
    --off-white: #f7f7f7;
    --main-black: #222;
    --main-grey: #ececec;
    --dark-grey: #cfcfcf;
    --main-transition: all 0.3s linear;
    --main-spacing: 0.5rem;
    --light-shadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
    --dark-shadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
  }
  
  /* Body */
  body {
    padding-top: 66px;
    color: var(--main-black);
    background: var(--main-white);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.4;
  }
  
  /* Banner */
  .banner-img {
    min-height: calc(100vh - 66px);
    background: url("../../assests/hotelreservation.jpg") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
  }
  
  .banner {
    background: rgba(0, 0, 0, 0.5);
    color: var(--main-white);
    padding: 2rem;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: var(--main-spacing);
    max-width: 90%;
    margin: 0 auto;
    box-shadow: var(--light-shadow);
  }
  
  .banner h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
  }
  
  .banner div {
    width: 10rem;
    height: 5px;
    background: var(--primary-color);
    margin: var(--main-spacing) auto;
  }
  
  .banner p {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
  
  @media screen and (min-width: 576px) {
    .banner {
      padding: 2rem 3rem;
    }
  }
  
  @media screen and (min-width: 992px) {
    .banner {
      padding: 3rem 6rem;
      box-shadow: var(--dark-shadow);
    }
  
    .banner h1 {
      font-size: 4rem;
    }
  
    .banner p {
      font-size: 1.8rem;
      margin-bottom: 2rem;
    }
  }
  
  /* Buttons */
  .btn-primary {
    display: inline-block;
    text-decoration: none;
    letter-spacing: var(--main-spacing);
    color: var(--main-black);
    background: var(--primary-color);
    padding: 0.8rem 1.6rem;
    border: 3px solid var(--primary-color);
    transition: var(--main-transition);
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1.2rem;
  }
  
  .btn-primary:hover {
    background: transparent;
    color: var(--primary-color);
  }
  